* {
  color: white;

  --button-color: #343639;
  --button-border-color: #222;

  font-family: "Press Start 2P", cursive;
}

html {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: #bf372e;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  margin: 1em;
}

.controls {
  display: flex;
  align-items: center;
  gap: 4em;
}

h1 {
  text-align: center;
}

/* Round Progress */
.round-progress {
  display: flex;
  gap: 1em;
  margin: 1em;
  justify-content: center;
}

.dot {
  font-size: 24px;
  color: white;
  transition: transform 0.4s ease-in-out;
}

.dot.pop {
  transform: scale(1.4);
}

/* All Buttons */
button {
  cursor: pointer;
  background: var(--button-color);
  border: 2px solid var(--button-border-color);
  border-radius: 6px;
  box-shadow: inset 2px 2px 5px rgba(255, 255, 255, 0.3),
    inset -2px -2px 5px rgba(0, 0, 0, 0.7);
  margin: 0.2em;
  transition: all 0.1s ease;
  transition: opacity 0.3s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

button:active:not(:disabled) {
  transform: translateY(2px);
  box-shadow: inset 1px 1px 3px rgba(255, 255, 255, 0.3),
    inset -1px -1px 3px rgba(0, 0, 0, 0.7);
}

.rot {
  writing-mode: vertical-rl;
}

button:disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

/* D-Pad */
.dpad {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-row {
  display: flex;
  align-items: center;
}

.dpad-button,
.center {
  width: 60px;
  height: 60px;
}

/* AB Buttons */
.buttons {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.ab-button {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* Start/Select Buttons */
.start-select {
  display: flex;
  gap: 1em;
}

.small-button {
  width: 120px;
  padding: 10px 0;
  border-radius: 20px;
}
